@import 'config', 'svg_interactive';


html {
  height: 100%;
}

body {
  height: 100%;
  text-align: center;

  main {
    margin-top: 90px;
    height: 100%;
    display: flex;
    justify-content: center;

    p {
      direction: rtl;
      min-width: 300px;
      width: calc(100vw / 3);
      text-align: right;
      font-family: 'OpenSansHebrew',sans-serif;
      line-height: 1.4;

      span {
        display: inline-block;
        margin: 30px 0;
      }
    }
  }
}

.page-wrapper {
  height: 100%;
  .top-section {
    max-height: 700px;
    display: flex;
    justify-content: space-around;
    background: #f7141f;
    position: relative;

    .top-right {
      background-image: url(../images/header-images/notebook_right.png);
      background-position: right top;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      flex: 1;

      .note-paper-one {
        margin-top: 10px;
        background-image: url(../images/header-images/note_1.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        flex: 1;
      }
      .pencil-one {
        background-image: url(../images/header-images/pencil.png);
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        @media screen and (min-width: 1020px)  {
          background-size: auto;
        }
      }

    }

    .top-center {
      flex: 1;
      .container-svg {
        position: relative;
        .artboard-one {
          position: absolute;
          top: 45%;
          right: 10%;
          background: url(../images/header-images/Artboard_1.png);
          width: 150px;
          height: 150px;
          transform: scale(0.8);
          @media screen and (min-width: 426px) and (max-width: 1020px) {
            top: 35%;
            right: 0%;
            transform: scale(0.3);
          }
        }
  
        .artboard-two {
          position: absolute;
          top: 60%;
          left: 38%;
          background: url(../images/header-images/Artboard_2.png);
          width: 84px;
          height: 72px;
          transform: scale(0.8);
          @media screen and (min-width: 426px) and (max-width: 810px)   {
            top: 55%;
            left: 32%;
            transform: scale(0.5);
          }
        }
      }  
    }

    .top-left {
      background-image: url(../images/header-images/notebook_left.png);
      background-position: left top;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      flex: 1;
      
      .lock {
        margin-top: 60px;
        background-image: url(../images/header-images/note_lock.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 2;
      }

      .pancil-two {
        background-image: url(../images/header-images/pencil_2.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
      }

      .note-paper-two {
        background-image: url(../images/header-images/note_2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 2;
      }

    }
    @media screen and (max-width: 425px) {
       min-height: 100%;
       flex-direction: column;
       order: 1;

      .top-right {
        order: 2;
        background-image: none;
        .note-paper-one {
          background-position: right center;
        }
         .pencil-one, .empty-for-center {
           background-image: none;
           display: none;
         }
      }

      .top-center {
        flex: initial;
      }

      .top-left {
        order: 3;
        background-image: none;
        .lock, .pancil-two {
          display: none;
        }
      }
    }
  }
}
