
@font-face {
  font-family: 'OpenSansHebrew-Bold';
  src: url('../fonts/OpenSansHebrew-Bold.ttf') format('truetype'),
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;

  main {
    margin-top: 90px;
    height: 100%;
    display: flex;
    justify-content: center;

    p {
      width: 300px;
      text-align: right;
    }
  }
}

.page-wrapper {
  height: 100%;
  .top-section {
    min-height: 45%;
    display: flex;
    justify-content: space-around;
    background: #f7141f;
    position: relative;

    .top-right {
      background-image: url(../images/header-images/notebook_right.png);
      background-position: right top;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      flex: 1;

      .note-paper-one {
        background-image: url(../images/header-images/note_1.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        flex: 1;
      }
      .pencil-one {
        background-image: url(../images/header-images/pencil.png);
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
      }

    }

    .top-center {
      margin-top: 20px;
      flex: 1;
      .container-svg {
        position: relative;
        .artboard-one {
          position: absolute;
          top: 45%;
          right: 10%;
          background: url(../images/header-images/Artboard_1.png);
          width: 150px;
          height: 150px;
          transform: scale(0.8);
        }
  
        .artboard-two {
          position: absolute;
          top: 60%;
          left: 38%;
          background: url(../images/header-images/Artboard_2.png);
          width: 84px;
          height: 72px;
          transform: scale(0.8);
  
        }
      }  
    }

    .top-left {
      background-image: url(../images/header-images/notebook_left.png);
      background-position: left top;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      flex: 1;
      
      .lock {
        background-image: url(../images/header-images/note_lock.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 2;
      }

      .pancil-two {
        background-image: url(../images/header-images/pencil_2.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
      }

      .note-paper-two {
        background-image: url(../images/header-images/note_2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        flex: 2;
      }

    }
    @media screen and (max-width: 390px) {
      .top-right, .top-left {
        display: none;
        
    }
  }
    
  }
  
  
}

@keyframes marker {
  from {clip-path: inset(0 0 0 100%)}
  to {clip-path: inset(0 0 0 0)}
}

svg#Layer_1 {

    #marker-one {
      animation-name: marker;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      opacity: 0.8;
    }

    #marker-two {
      animation-name: marker;
      animation-duration: 3s ;
      animation-timing-function: ease-in-out;
      animation-delay: 3s;
      animation-iteration-count: 1;
      opacity: 0.8;
    }
    
  
  #svg-text-top {
    font-family: 'OpenSansHebrew-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000
  }

  #svg-text-bottom {
    font-family: 'OpenSansHebrew-Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #000
  }

} 
